@import url(https://fonts.googleapis.com/css?family=Open+Sans);

li.d3fy-item-class {
  transition: all;
}
.d3fy-item {
  /* set default width */
  width: 100%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;
  /* 15px 30px */
}
@media (min-width:700px) {
  .d3fy-item {
    width: 25%;
    /* 15px 30px */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .d3fy-item {
    width: 50%;
    /* 15px 30px */
  }
}
.wp-post-image {
  width: 100%;
  display: inline-block;
  opacity: 1;
  height: auto;
  margin: 0;
  padding: 0;
}
.portfolio-filters-inline {
  margin-top: 0;
  z-index: 100;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  background-color: #252525;
  margin-bottom: 0;
  /* height: 75px; */
  -webkit-backface-visibility: hidden;
}
.portfolio-filters-inline a {
  padding: 0 10px;
  margin: 7px 0;
  font-size: 13px;
  line-height: 14px;
  display: inline-block;
  cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.portfolio-filters-inline a:hover {
  color: #ff6633;
}
.current {
  color: #ff6633 !important;
}
.portfolio-filters-inline ul li, .portfolio-filters-inline ul ul {
  display: inline;
  
}
.portfolio-filters-inline>ul a, .portfolio-filters-inline>ul li#sort-label {
  padding: 0 10px;
  margin: 7px 0;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
}
.portfolio-filters-inline ul li a {
  color: #999;
}
.portfolio-filters-inline ul li, .portfolio-filters-inline ul ul {
  display: inline;
}

/* First Section */


/*  Start CSS3 Image Hover Effect */

.caption-style-1 {
  list-style-type: none;
  margin: 0px;
  width: 100%;
  padding: 0px;
}
.caption-style-1 li {
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.caption-style-1 li:hover .caption {
  opacity: 1;
}
.caption-style-1 img {
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}
.caption-style-1 .caption {
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.caption-style-1 .blur {
  background-color: rgba(255, 102, 51, 0.8);
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
}
.caption-style-1 .caption-text p {
  padding-left: 5px;
  padding-right: 5px;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.caption-style-1 .caption-text {
  text-align: center;
  position: absolute;;
  z-index: 10;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
